.gallery {
  margin-bottom: 136px;
  background-color: #f6f6f6;
  aspect-ratio: 90 / 133;
  padding: 0px 40px 78px 40px;

  &__swiper {
    width: 100%;
    position: relative;
    &__wrapper {
      width: 100%;
      aspect-ratio: 200/285;
    }
    &__img {
      &__wrapper {
        width: 100%;
        height: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }
  &__title {
    @extend %title;
    position: absolute;
    top: -3%;
  }
}

.swiper-container {
  width: 100%;
  height: 100%;
  padding-top: 74px !important;
  position: initial !important;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  width: 100%;
  height: 100%;
  background-color: #f6f6f6;
  aspect-ratio: 14/19;
  &__img {
    width: 100%;
    object-fit: contain;
  }
}

.swiper-button-prev,
.swiper-button-next {
  cursor: pointer;
  position: absolute;
  bottom: -40px;
  z-index: 10;
  img {
    width: 24px;
    height: 24px;
  }
}

.swiper-button-prev {
  right: 40px;
}

.swiper-button-next {
  right: 0px;
}

.swiper-button-disabled {
  opacity: 0.1;
}
