.gallery {
  margin-bottom: 136px;
  background-color: #f6f6f6;
  position: relative;
  padding-top: 147.8%;
  width: 100%;

  &__swiper {
    position: absolute !important;
    top: 0;
    width: 100%;
    height: 100%;
    &__wrapper {
      @extend %padding;
      width: 100%;
      height: 100%;
      padding-top: 74px;
      padding-bottom: 78px;
      position: absolute !important;
      top: 0;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
  }
  &__title {
    @extend %title;
    padding-left: 40px;
    position: absolute;
    top: -3%;
  }
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  width: 100%;
  height: 100%;
  background-color: #f6f6f6;
  display: flex;
  align-items: center;
  &__img {
    width: 100%;
    object-fit: contain;
  }
}

.swiper-button-prev,
.swiper-button-next {
  cursor: pointer;
  position: absolute;
  bottom: 38px;
  z-index: 10;
  img {
    width: 24px;
    height: 24px;
  }
}

.swiper-button-prev {
  right: 80px;
}

.swiper-button-next {
  right: 40px;
}

.swiper-button-disabled {
  opacity: 0.1;
}
