.guest {
  @extend %padding;
  margin-bottom: 136px;
  &__title {
    margin-top: 136px;
    margin-bottom: 12px;
    @extend %title;
  }
  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #828282;
    margin-bottom: 47px;
  }
  &__box {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0px;
    border-bottom: 1px solid #1a1a1a;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    img {
      width: 24px;
      height: 24px;
    }
  }
  &__modal {
    &__title {
      @extend %title;
      margin-bottom: 12px;
    }
    &__coment {
      font-weight: 400;
      font-size: 14px;
      line-height: 140%;
      color: #828282;
      margin-bottom: 48px;
    }
    &__contents {
      margin-bottom: 40px;
      &__title {
        font-weight: 600;
        font-size: 12px;
        line-height: 12px;
        color: #484848;
        margin-bottom: 12px;
        &.black {
          color: #1a1a1a;
        }
      }
      &__text {
        font-weight: 400;
        font-size: 16px;
        line-height: 112%;
        cursor: pointer;
      }
    }
    &__button {
      @extend %modal_btn;
      background-color: #f6f6f6;
    }
    &__submit {
      @extend %modal_btn;
      background-color: #1a1a1a;
      color: white;
    }
    &__form {
      &__input {
        width: 100%;
        margin-bottom: 40px;
        border: none;
        border-bottom: 1px solid #1a1a1a;
        padding-bottom: 12px;
        border-radius: 0;
        &:focus {
          outline: none;
        }
        ::placeholder {
          color: #bdbdbd;
          font-size: 14px;
          line-height: 129%;
          font-weight: 400;
        }
        &.mb-0 {
          margin-bottom: 0px;
        }
      }
      &__textarea {
        width: 100%;
        border: none;
        border-bottom: 1px solid #1a1a1a;
        resize: none;
        padding-bottom: 12px;
        &:focus {
          outline: none;
        }
      }
      &__genders {
        display: flex;
        font-weight: 400;
        font-size: 14px;
        line-height: 129%;
        margin-bottom: 40px;
        &__gender {
          &:first-child {
            margin-right: 10px;
          }
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: white;
          width: 60px;
          height: 32px;

          input[type="radio"] + label {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            border: 1px solid #dddddd;
            border-radius: 4px;
            cursor: pointer;
          }
          input[type="radio"] {
            width: 0;
            height: 0;
            margin: 0px;
          }
          input[type="radio"]:checked + label {
            border: 1px solid #3284e3;
            color: #3284e3;
          }
        }
      }
    }
  }
}
