.guest {
  @extend %padding;
  margin-bottom: 136px;
  &__title {
    @extend %title;
    margin-top: 136px;
    margin-bottom: 12px;
  }
  &__text {
    font-size: 14px;
    line-height: 140%;
    color: #828282;
    margin-bottom: 47px;
  }
  &__box {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0px;
    border-bottom: 1px solid #1a1a1a;
    font-weight: 600;
    font-size: 18px;
    img {
      width: 24px;
      height: 24px;
    }
  }
  &__modal {
    &__title {
      @extend %title;
      margin-bottom: 12px;
    }
    &__coment {
      font-size: 14px;
      line-height: 140%;
      color: #828282;
      margin-bottom: 8px;
    }
    &__contents {
      margin-bottom: 40px;
      &__title {
        font-weight: 600;
        font-size: 12px;
        color: #484848;
        margin-bottom: 12px;
        margin-top: 40px;
        &.black {
          color: #1a1a1a;
        }
      }
      &__text {
        font-size: 16px;
        line-height: 112%;
        cursor: pointer;
      }
    }
    &__button {
      @extend %modal_btn;
      background-color: #f6f6f6;
    }
    &__submit {
      @extend %modal_btn;
      background-color: #1a1a1a;
      color: white;
    }
    &__form {
      &__input {
        width: 100%;
        border: none;
        border-bottom: 1px solid #1a1a1a;
        padding-bottom: 12px;
        border-radius: 0;
        font-size: 14px;

        &:focus {
          outline: none;
        }
        ::placeholder {
          color: #bdbdbd;
          font-size: 14px;
          line-height: 129%;
        }
        &.mb-0 {
          margin-bottom: 0px;
        }
        &.error {
          border-bottom: 1px solid #ff4d40;
        }
      }
      &__textarea {
        width: 100%;
        border: none;
        border-bottom: 1px solid #1a1a1a;
        resize: none;
        padding-bottom: 12px;
        border-radius: 0;
        font-size: 14px;

        &:focus {
          outline: none;
        }
        &.error {
          border-bottom: 1px solid #ff4d40;
        }
      }
      &__genders {
        display: flex;
        font-size: 14px;
        line-height: 129%;
        &__gender {
          &:first-child {
            margin-right: 10px;
          }
          @extend %flex-center;
          background-color: white;
          width: 60px;
          height: 32px;
          input[type="radio"] + label {
            @extend %flex-center;
            width: 100%;
            height: 100%;
            border: 1px solid #dddddd;
            border-radius: 4px;
            cursor: pointer;
          }
          input[type="radio"] {
            width: 0;
            height: 0;
            margin: 0px;
            visibility: hidden;
          }
          input[type="radio"]:checked + label {
            border: 1px solid #3284e3;
            color: #3284e3;
          }
          &.error {
            color: #ff4d40;
            input[type="radio"] + label {
              border: 1px solid #ff4d40;
            }
          }
        }
      }
      &__error {
        font-size: 12px;
        line-height: 100%;
        color: #ff4d40;
        margin-top: 6px;
      }
    }
  }
}
