.image {
  width: 100%;
  margin-top: 104px;
  &__container {
    padding: 0px 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 8px;
    &__image {
      overflow: hidden;
      object-fit: cover;
      object-position: center;
      width: 100%;
    }
    img {
      width: 100%;
    }
  }
  &__bride {
    margin-top: 70px;
  }
}
