.introduction {
  @extend %padding;
  margin-bottom: 136px;
  &__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 140%;
    margin-top: 32px;
    margin-bottom: 40px;
    height: 68px;
  }
  &__content {
    font-size: 14px;
    line-height: 190%;
    margin-bottom: 56px;
  }
  &__people {
    font-size: 14px;
    line-height: 170%;
  }
}
