.location {
  &__title {
    @extend %title;
    @extend %padding;
    margin-bottom: 56px;
  }
  &__location {
    @extend %padding;
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
    margin-bottom: 12px;
    height: 56px;
  }
  &__time {
    @extend %padding;
    font-size: 14px;
    line-height: 140%;
    color: #828282;
    margin-bottom: 42px;
  }
  &__tabs {
    margin: 0px 40px;
    display: flex;
    height: 26px;
    font-size: 14px;
    color: #bdbdbd;
    border-bottom: 1px solid #bdbdbd;
    margin-bottom: 20px;
    &__tab {
      cursor: pointer;
      height: 100%;
      margin-right: 24px;
      &.active {
        font-weight: 600;
        color: #1a1a1a;
        border-bottom: 1px solid #1a1a1a;
      }
    }
    &__content {
      @extend %padding;
      height: 113px;
      font-size: 14px;
      line-height: 140%;
      color: #484848;
    }
  }
  &__map {
    position: absolute !important;
    top: 0;
    width: 100%;
    height: 100%;
    &__container {
      position: relative;
      padding-top: 61.11%;
      height: 100%;
    }
  }
  &__map-btn {
    @extend %flex-center;
    background-color: #1a1a1a;
    height: 48px;
    font-size: 14px;
    line-height: 130%;
    color: #e5e5e5;
    cursor: pointer;
  }
}
