.thanks {
  position: relative;
  padding-top: 177.78%;
  &__img {
    position: absolute !important;
    top: 0;
    width: 100%;
  }
  &__text-container {
    position: absolute;
    top: 88px;
    left: 40px;
    z-index: 5;
    color: white;
    &__title {
      @extend %title;
      margin-bottom: 12px;
    }
    &__content {
      font-size: 14px;
      line-height: 140%;
      height: 40px;
    }
  }
  &__share {
    @extend %flex-center;
    img {
      width: 16px;
      height: 16px;
      margin-right: 12px;
    }
    font-size: 14px;
    line-height: 140%;
    color: white;
    width: 181px;
    height: 40px;
    border: 1px solid #ffffff;
    margin-top: 28px;
    cursor: pointer;
    &:hover {
      background: rgba(255, 255, 255, 0.2);
    }
    &:active {
      background: rgba(255, 255, 255, 0.2);
    }
  }
  &__copyright {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 11px;
    line-height: 109%;
    letter-spacing: -0.01em;
    color: rgba(255, 255, 255, 0.3);
  }
}
